
<div class="text-layout">
    <h1>Pipes no comunes</h1>
    <p>Pipes incluidos en angular - Usualmente en el Common Module</p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6 p-sm9">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            Saludos {{nombre}}, es un placer 
            {{genero | i18nSelect:invitacionMap}}
            a nuestro evento
        </p-fieldset>
    </div>
    <div class="p-col p-md-6 p-sm9">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            Content
        </p-fieldset>
    </div>
</div>